<div class="zenmark-dialog" data-zenmark-editor-target="imageMdDialog">
  <div class="zenmark-dialog-content">
    <div class="flex-right">
      <button type="button" class="zenmark-dialog-close grey-button" data-action="click->zenmark-editor#closeImageDialog">&times;</button>
    </div>
    <div id="image-md-text" class="image-text-box">
      Uploading image...
    </div>
    <div class="flex-right">
      <button type="button" data-action="click->zenmark-editor#copyImageMarkdown" class="grey-button">Copy to Clipboard</button>
    </div>
  </div>
</div>
