<div class="zenmark-dialog" data-zenmark-editor-target="linkDialog">
  <div class="zenmark-dialog-content">
    <label for="zenmark-link-text">Text</label>
    <input type="text" id="zenmark-link-text" data-zenmark-editor-target="linkText">
    <label for="zenmark-link-url">URL</label>
    <input type="text" id="zenmark-link-url" data-zenmark-editor-target="linkUrl">
    <button data-action="zenmark-editor#insertLink">Insert</button>
    <button data-action="zenmark-editor#closeLinkDialog">Cancel</button>
  </div>
</div>
