<div class="zenmark-toolbar">

  <button data-action="zenmark-editor#bold" title="Bold"><span class="material-symbols-outlined">format_bold</span></button>
  <button data-action="zenmark-editor#italic" title="Italic"><span class="material-symbols-outlined">format_italic</span></button>
  <button data-action="zenmark-editor#strikethrough" title="Strikethrough"><span class="material-symbols-outlined">strikethrough_s</span></button>

  <button data-action="zenmark-editor#heading" title="Heading"><span class="material-symbols-outlined">format_h1</span></button>
  <button data-action="zenmark-editor#blockquote" title="Blockquote"><span class="material-symbols-outlined">format_quote</span></button>
  <button data-action="zenmark-editor#code" title="Code"><span class="material-symbols-outlined">code</span></button>
  <button data-action="zenmark-editor#link" title="Link"><span class="material-symbols-outlined">link</span></button>
  <button data-action="zenmark-editor#image" title="Image"><span class="material-symbols-outlined">image</span></button>
  <button data-action="zenmark-editor#unorderedList" title="Unordered List"><span class="material-symbols-outlined">format_list_bulleted</span></button>
  <button data-action="zenmark-editor#orderedList" title="Ordered List"><span class="material-symbols-outlined">format_list_numbered</span></button>
  <button data-action="zenmark-editor#horizontalRule" title="Horizontal Rule"><span class="material-symbols-outlined">horizontal_rule</span></button>
  <button data-action="zenmark-editor#preview" title="Preview"><span class="material-symbols-outlined">visibility</span></button>
</div>
